
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Inter Tight", "Inter Tight Placeholder", sans-serif;
}

html,body{


  overflow-x: hidden;
}
.bg_dark {
  background-color: rgb(26, 26, 26);
}

.header {
  height: 70px;
}

.logo {
  width: 350px;
  display: flex;
  align-items: end;
}
.logo h3 {
  font-size: 22px;
}

.linking {
  width: 945px;
}

.linking h5 {
  font-size: 16px;
}

.email_btn button {
  width: 250px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
}

.banner_image_holder {
  margin-top: 105px;
}

/* .image_holder img {
  border-radius: 30px;
  width: 450px;
  height: 700px;
  position: relative;
  z-index: 10;
} */

.aims_benefit_main h2 {
  font-family: "Inter Tight", "Inter Tight Placeholder", sans-serif;
  font-size: 64px;
  font-style: normal;
  font-weight: 600;

  letter-spacing: -0.02em;
  line-height: 65px;
  text-align: center;
}

.aims_benefit_main_text {
  width: 1000px;
  padding-top: 150px;
  padding-bottom: 70px;
}

/* .my_tried_heading {

   padding-top: 150px; 
   padding-bottom: 120px; 
} */

/* .my_tried_heading h2 {
  font-family: "Inter Tight", "Inter Tight Placeholder", sans-serif;
  font-size: 64px;
  font-style: normal;
  font-weight: 600;

  letter-spacing: -0.02em;
  line-height: 73px;
} */

/* .my_tried_procedure {
  padding-bottom: 224px;
} */

.my_tried_procedure h2 {
  font-family: "Inter Tight", "Inter Tight Placeholder", sans-serif;
  font-size: 54px;
  font-style: normal;
  font-weight: 600;
}

.my_tried_procedure p {
  font-family: "Inter Tight", "Inter Tight Placeholder", sans-serif;
  font-size: 20px;
  font-style: larger;
  font-weight: 400;
}

/* .experience_heading h1 {
  font-family: "Inter Tight", "Inter Tight Placeholder", sans-serif;
  font-size: 150px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: -.04em;
  line-height: 128px;

} */

.experience_heading h1 {
  font-family: "Inter Tight", "Inter Tight Placeholder", sans-serif;
  font-size: clamp(3rem, 10vw, 9rem); /* responsive size */
  font-style: normal;
  font-weight: 600;
  letter-spacing: -0.04em;
  line-height: 1.2; /* relative line-height */
}

.experince_main {
  gap: 120px;
}

.experince {
  width: max-content;
}

.sunrise {
  overflow: hidden;
}

.sunrise .char {
  display: inline-block;
  will-change: transform;
}

.time_period {
  width: 800px;
}
.company h2 {
  font-family: "Inter Tight", "Inter Tight Placeholder", sans-serif;
  font-size: 54px;
  font-style: normal;
  font-weight: 600;
}

.designation {
  font-family: "Inter Tight", "Inter Tight Placeholder", sans-serif;
  font-size: 20px;
  font-style: larger;
  font-weight: 400;
}
.work_resume_btn button {
  width: 170px;
  height: 60px;
  font-family: "Inter Tight", "Inter Tight Placeholder", sans-serif;
  font-size: 20px;
  font-weight: 400;
}

.work_resume_btn button:hover {
  background-color: #343a40; /* Dark grey */
  color: white;
}

.experinces_main {
  gap: 15px;
  padding-bottom: 120px;
}
.main_footer {
  padding-top: 80px;
}
.avatar {
  width: 340px;
}
.name h2 {
  font-size: 1.5rem;
}

/* .sub_footer {
  gap: 160px;
  display: flex;
  justify-content: center;
  flex-direction: row;
} */
.projects_social {
  display: flex;
  flex-direction: row;
}

.lets_connect {
  width: 795px;
  gap: 80px;
}
.email_content {
  gap: 32px;
}
.social_links {
  flex-wrap: nowrap;
  color: white;
}
/* .social_links p {
  margin-bottom: none ;
} */
.projects_parent p{
  margin-bottom: 5px;
}
.social_parent p {
  margin-bottom: 0px;
}
.heading {
  font-family: "Inter Tight", "Inter Tight Placeholder", sans-serif;
  font-weight: 600;
  color: rgb(153, 153, 153);
}

.main_footer {
  background-color: black !important;
}
/* .caption h4 {
  font-family: "Inter Tight", "Inter Tight Placeholder", sans-serif;
  font-weight: 600;
  color: white;
} */
.name h2 {
  font-family: "Inter Tight", "Inter Tight Placeholder", sans-serif;
  font-weight: 600;
  color: white;
}
.project_name {
  font-family: "Inter Tight", "Inter Tight Placeholder", sans-serif;
  font-weight: 600;
  color: white;
}

.project_name span{

  text-decoration: underline;
}
.avatar {
  font-family: "Inter Tight", "Inter Tight Placeholder", sans-serif;
  font-weight: 600;
  color: rgb(153, 153, 153);
}

.hamBurger {
  display: none;
}

.junior_parent {
  width: 100%;
  height: max-content;
  /* background-color: black; */
  display: flex;
  justify-content: center;
}

.junior {
  transform: translateY(130px);
}

.span_check span {
  display: inline-block;
}
.ham_div {
  background-color: red;
  width: 100%;
  height: 80vh;
  display: block;
  position: absolute;
  top: 70%;
  transition: 2s ease-in-out;
}

.bg_dark {
  position: relative;
}
